<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhap">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Notification.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhap">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".YoutubeLayout.YoutubeActivity"
            android:exported="true" />

        <service
            android:name=".zingmp3.ZingMp3Service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".zingmp3.ZingMp3Activity"
            android:exported="true" />
        <activity
            android:name=".imageFile.ImageActivity2"
            android:exported="true" />
        <activity
            android:name=".imageFile.ImageActivity"
            android:exported="true" />
        <activity
            android:name=".DeleteEditAddRecyclerView.RecyclerActitity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashScreen"
            android:exported="true" />
        <activity
            android:name=".button_animation.ButtonAnimation"
            android:exported="true" />
        <activity
            android:name=".recyclerviewhozitatol.RecylerviewHz"
            android:exported="true" />
        <activity
            android:name=".Notification.NotificationMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NavigationDrawerTablayoutViewPager.NavigationDrawerTablayoutViewPagerMainActivity" />
        <activity android:name=".Fragment_Tablayout_Viewpager.FragmentTablayoutViewpagerMainActivity" />
        <activity
            android:name=".fragment.FragmentMainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity
            android:name=".Alarm.BaoThucMainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarm.AlarReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Alarm.Music"
            android:enabled="true" />
    </application>

</manifest>